@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);             

$textcolor: red;   
$blackColor: #000000;
$fontColor: #FFFFFF;
body {
    max-width: 1440px;
}
.logo {
    font-family: "Integral CF", "sans-serif";
    font-weight: 900;
    color: $blackColor;
    line-height: 38.4px;
    font-size: 32px;
}
.nav {
max-width: 1240px;
height: 48px;
margin: 0 auto;
}
.deal-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 38px; 
    background-color: $blackColor;
    color: $fontColor;
    font-family: 'Satoshi', sans-serif;
    font-Weight: 400;
    font-Size: 14px;
    line-height: 18.9px;
                                                
}
.deal-div span{
    text-decoration-line: underline;
}
.deal-div i {
    width: 20px;
    height: 20px;
    color: $fontColor;
    margin-left: 425px;
}
