@import url(./responsive.scss);
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url(https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular);
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Fontspring-DEMO-integralcf-bold.otf");
}

$blackColor: #000000;
$fontColor: #ffffff;
$starscolor: #ffc633;
$redColor: #ff3333;
$boxcolor: #f0f0f0;
$feedback: #01ab31;
$footercolor: #F0F0F0;


body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deal-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 38px;
  background-color: $blackColor;
  
  margin: 0 auto;
  p{
    color: $fontColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
  }

  span {
    text-decoration-line: underline;
    cursor: pointer;
  }

  i {
    margin-left: 425px;
    margin-right: 10px;
    cursor: pointer;
  }
}

.nav {
  max-width: 90%;
  height: 48px;
  margin: 24px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;

  .logo {
    font-family: "Integral CF", sans-serif;
    font-weight: bolder;
    color: $blackColor !important;
    line-height: 38.4px;
    font-size: 32px;
  }

  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-li {
    align-items: center;

    a {
      text-decoration: none;
      color: $blackColor;
      font-size: 16px;
      &:hover {
        color: #888;
      }
    }

    span {
      margin-left: 5px;
    }
  }
}

.search-container {
  width: 40%;
  height: 48px;
  border-radius: 25px;
  background-color: #F0F0F0;
  padding: 15px;
  margin-left: auto; 
  position: relative;

  .bi-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 20px;
  }

  .search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    padding-left: 40px;
    font-size: 16px;
    color: #333;
    outline: none;
  
    &::placeholder {
      color: #888;
    
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 20px;

  i {
    font-size: 24px;
    color: $blackColor;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      color: $redColor;
    }
  }
}
// end of header styles


// main div styles
.main-div {
  position: relative;
  max-width: 100%;
  background-image: url(./photoes/Rectangle2.png);
  background-repeat: no-repeat;
  background-size: contain ;
  height: 663px;
  padding-top: 134px;
}
.container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  height: 450px;
  margin-left: 100px;
}
h1 {
  width: 600px;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  color: $blackColor;
  line-height: 60px;
  font-size: 64px;
}
.container p {
  width: 545px;
  height: 33px;
  // margin-top: 30px;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  color: $blackColor;
  line-height: 22px;
  font-size: 16px;
}

.button {
  width: 210px;
  height: 52px;
  background-color: $blackColor;
  border-radius: 62px;
  color: $fontColor;
}
.numbers1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 596px;
  height: 74px;
}

.box {
  width: 141px;
  height: 82px;
  display: flex;
  justify-content: left;
  justify-content: space-between;
  flex-direction: column;
}
.box p {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  color: rgba($blackColor, 0.6);
  line-height: 22px;
  font-size: 16px;
}
.num {
  font-family: "Satoshi", sans-serif;
  font-weight: 700 !important;
  color: $blackColor !important;
  line-height: 54px !important;
  font-size: 40px !important;
}
.child-div {
  position: absolute;
  width: 400px;
  height: 200px; 

  // Positioning the first vector image
  &.vector-1 {
    width: 104px;
    height: 104px;
    top: 81px;
    right: 86px;
    background-image: url("./photoes/Vector.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  // Positioning the second vector image
  &.vector-2 {
    width: 56px;
    height: 56px;
    top: 297px;
    left: 750px;
    background-image: url("./photoes/Vector1.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.brands {
  max-width: 100vw;
  height: 122px;
  display: flex;
  background-color: $blackColor;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;

  &.img {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.main-div2 {
  max-width: 100%;
  height: 749px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  h2 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 65.71px;
    padding-top: 48px;
    margin-bottom: 51px;
  }

  .shop {
    width: 95%;
    height: 520px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    //   padding: 10px;
    padding-bottom: 36px;
  }

  .clothes {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    //   padding: 20px;
  }

  .image-container {
    width: 295px;
    height: 298px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    // margin: -50px;
    // margin-left: 1px;
  }

  .stars {
    width: 150px;
    height: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $starscolor;
  }
  .texts {
    display: flex;
    height: 90px;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    color: $blackColor;
    line-height: 27px;
    font-size: 20px;
  }
  .stars span {
    font-family: "Satoshi", sans-serif;
    font-weight: 400 !important;
    color: $blackColor;
    line-height: 18.9px !important;
    font-size: 14px !important;
  }
}
.pricing {
  display: flex;
  align-items: center;

  .current-price {
    font-family: "Satoshi", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    margin-right: 10px;
  }

  .old-price {
    font-family: "Satoshi", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    color: $blackColor;
    opacity: 40%;
    text-decoration: line-through;
    margin-right: 10px;
  }

  .discount {
    background: rgba(255, 51, 51, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #ff3333;
    font-family: "Satoshi", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    text-align: center;
    opacity: 90%;
  }

  /* Hide old price and discount by default */
  .no-discount {
    .old-price,
    .discount {
      display: none;
    }
  }
}
.img {
  background-image: url(./photoes/image1.png);
}
.img1 {
  background-image: url(./photoes/image2.png);
}
.img2 {
  background-image: url(./photoes/image3.png);
}
.img3 {
  background-image: url(./photoes/image4.png);
}

//   view all button

.btn {
  width: 218px;
  height: 52px;
  border-radius: 62px;
  border: 1px;
  color: $blackColor;
  opacity: 90%;
  gap: 12px;
  padding: 16px 54px 16px 54px;
  margin-bottom: 64px;
}

// new arrivals  div
.img11 {
  background-image: url(./photoes/image11.png);
}
.img22 {
  background-image: url(./photoes/image22.png);
}
.img33 {
  background-image: url(./photoes/image33.png);
}
.img44 {
  background-image: url(./photoes/image44.png);
}
.texts p {
  text-transform: lowercase;
}
.texts p:first-letter {
  text-transform: uppercase;
}

//   grid  div  styles
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 289px); // Adjust height as needed
  gap: 20px; // Adjust the gap between boxes
  width: 100%; // Set max-width to the total width of the grid
  margin: 0 auto; // Center the grid container
  padding: 20px; // Add padding if needed to avoid edge clipping

  .box1,
  .box2,
  .box3,
  .box4 {
    background-color: #f0f0f0;
    border-radius: 20px;
    background-size: cover; // Ensure the background images cover the boxes
    background-position: center;
  }

  .box1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-image: url("./photoes/grid1.png");
  }

  .box2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background-image: url("./photoes/grid2.png");
  }

  .box3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-image: url("./photoes/grid3.png");
  }

  .box4 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    background-image: url("./photoes/grid4.png");
  }
}

h4 {
  font-family: "Satoshi", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48.6px;
  margin: 0;
  place-items: start;
  color: $blackColor;
  margin-left: 25px;
  margin-top: 36px !important;
}
.grid-div {
  display: flex;
  flex-direction: column;
  max-width: 1239px;
  height: 866px;
  border-radius: 40px;
  margin: 0 auto;
  background-color: $boxcolor;
  h2 {
    font-family: "integral cf", serif;
    font-weight: 700;
    font-style: normal;
    color: $blackColor;
    margin: 0 auto;
    font-size: 48px;
    line-height: 57.6px;
    padding-top: 70px;
    padding-bottom: 64px;
  }
}

// feedback div styles
.bi-check-circle-fill {
  color: $feedback;
  margin-left: 0px;
}
.flex-row {
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  .our {
    font-family: "Integral CF", sans-serif;
    font-weight: 700;
    color: $blackColor;
    line-height: 57.6px;
    font-size: 48px;
    text-align: left;
    margin-left: 100px;
    margin-top: 80px;
    padding-bottom: 40px;
  }
}
.feedback-container {
  max-width: 90%;
  height: 300px;
  display: flex;
  flex-direction: row;
  // align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  gap: 20px;
}
h5 {
  font-family: "Satoshi", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  place-items: start;
  color: $blackColor;
}
p {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  place-items: start;
  color: rgba($blackColor, 0.6);
}

.border {
  width: 400px;
  height: 239.58px;
  border: 1px solid rgba($blackColor, 0.1);
  border-radius: 20px;
  display: flex;
  padding: 28px 32px;
}

.feedback-box {
  width: 336px;
  height: 183.58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .stars {
    width: 150px;
    height: 19px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $starscolor;
  }
}

.arrow {
  width: 55px;
  height: 25px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  margin-left: 1200px;
}
// subscription div styles
.subscribe {
  max-width: 82%;
  height: 180px;
  display: flex;
  background-color: $blackColor;
  color: $fontColor;
  padding: 36px 64px 36px 64px;
  gap: 0px;
  border-radius: 20px;
  justify-content: space-between;
  opacity: 0px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}
.subscribe h2 {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  color: $fontColor;
  line-height: 45px;
  font-size: 40px;
}
.h2 {
  width: 551px;
  height: 94px;
  gap: 0px;
}
.forms {
  width: 349px;
  height: 108px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 349px;
  height: 48px;
  gap: 0px;
}
form {
  width: 100%;
  height: 100%;
}

.input-group {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  width: 24px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Satoshi", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgba($blackColor, 0.6);
}

input[type="email"] {
  width: 100%;
  height: 100%;
  padding-left: 40px; // Space for the icon
  background-color: $fontColor; // Black with 60% opacity
  border: 1px solid #000000; // Border color
  border-radius: 40px;
  font-family: "Satoshi", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: $blackColor;

  &::placeholder {
    color: #00000666;
    padding-left: 12px;
  }
}

.btn2 {
  width: 349px;
  height: 46px;
  border: 1px solid $blackColor;
  border-radius: 62px;
  padding: 12px, 16px, 12px, 16px;
  gap: 12px;
  background-color: $fontColor;
  color: $blackColor;
  font-family: "Satoshi", "sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
}

// footer  styles
.footer-cont {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  height: 499px;
  background-color: $footercolor;
  margin: 0 auto;
  margin-left: -1px;
  margin-top: -90px;
  position: relative;
  .footer-div {
     width: 82%;
     height: 177px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     align-items: baseline;
     margin: 0 auto;
     justify-content: space-between;
     .footer-logo{
      width: 248px;
      height: 177px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .soc-media{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 148px;
        height: 28px;
        .circle{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          border: 1px solid rgba($blackColor, 0.20);
          border-radius: 50px;
          background-color: $fontColor;
          
        }
      }
     }
  }
}

.fb {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: $blackColor;
 
}

.fb i {
  font-size: 12px; 
  color: $fontColor;
  font-weight: 400;
}

// footer nav
.footer-nav{
  width: 149px;
  height: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer-nav-ul {
  width: 149px;
  height: 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
width: 1240px;
height: 1px;
background-color: rgba($blackColor, 0.1);
-top: 50px;
margin-bottom: 20px;
margin: 0 auto;
}
.end-div{
  width: 82%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}
.payment {
  display: flex;
  width: 281.07px;
  height: 30.03px;
  flex-direction: row;
  justify-content: space-between;
}
.rectangle {
  display: flex;
  width: 46.61px;
  height: 30.03px;
  border: 0.30px;
  border-radius: 5.38px;
  border-color: #D6DCE5;
  background-color: $fontColor;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
